{% extends 'newsletter/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            {% if title %}
                <h1 class="text-center">{{ title }}</h1> {# title - from render context ('Contact Us') #}
            {% endif %}

            <form method="POST" action="">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}