{% extends 'newsletter/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    try Django 1.8
{% endblock %}

<style>
    {% block style  %}

    {% endblock %}
</style>


{% block jumbotron %}
    <div class="jumbotron">

        <div class="row">
            <div class="col-sm-6">
                <h1>Try Django 1.8</h1>
                <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work.
                    It
                    includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
                <p>To see the difference between static and fixed top navbars, just scroll.</p>
                <p>
                    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Join us &raquo;</a>
                </p>
            </div>
            <div class="col-sm-6" style='background-color: black; height: 300px'>  {# placeholder for video #}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-3 pull-right">
            <h2> {{ template_title }}</h2>

            <form method="POST" action="">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" value="Sign Up">

            </form>
        </div>
    </div>

{% endblock content %}
