{% extends 'home/base.html' %}
{% load static %}
{#<ul>Меню сайта:#}
{#    <li><a href="/admin">Админка</a></li>#}
{#    <li><a href="{% url 'polls:index' %}">Голосовалка</a></li>#}
{#    <li><a href="{% url 'blog:home' %}">Блог</a></li>#}
{#    <li><a href="{% url 'taskbuster:index' %}">Taskbuster (empty)</a></li>#}
{#    <li><a href="{% url 'newsletter:home' %}">Newsletter</a></li>#}

{% block title %}
    Tidjei's project
{% endblock %}


{% block jumbotron %}
    <h1>Welcom to Tidjei's project home page</h1>
     <div class="row">
        <div class="col-sm-8">
    <p style="text-indent: 20px">This site was created with <a href="http://getbootstrap.com/">Bootstrap</a>, Django 1.9.1, Python 3.5.0 and <a
            href="https://www.jetbrains.com/pycharm/">PyCharm</a>. Also used couple of third party modules.
        Follow me on <a href="https://github.com/Buggytheclown">GitHub</a>(Check the READMY inside).</p>
        <p style="text-indent: 20px"> In the menu below you can find some of my web page, that was created by me in purples of learning Django.
        Right now the menu's web pages is isolated. </p>
             <p style="text-indent: 20px">Im a Junior. Still learning to do all staff better.</p>
        </div>
        {#Carousel#}

        <div class="col-sm-4 ">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->

                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="{% static 'home/img/bob1.gif' %}" alt="...">
                        <div class="carousel-caption">
                            1st
                        </div>
                    </div>
                    <div class="item">
                        <img src="{% static 'home/img/bob2.gif' %}" alt="...">
                        <div class="carousel-caption">
                            2nd
                        </div>
                    </div>
                    <div class="item">
                        <img src="{% static 'home/img/bob3.gif' %}" alt="...">
                        <div class="carousel-caption">
                            3rd
                        </div>
                    </div>
                    ...
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
{#                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>#}
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
{#                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>#}
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

{% endblock %}


{% block content %}


{#App meinu#}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2>Web app menu:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Admin</h2>
            <p>Admin's page, for staff only.<br>
                (Django default)</p>
            <p><a class="btn btn-primary" href="/admin" role="button">View details &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2>Voting page</h2>
            <p>There we have some question for you.<br>
                (Django <a href="https://docs.djangoproject.com/en/1.9/intro/tutorial01/">default tutorial</a>)</p>
            <p><a class="btn btn-primary" href="{% url 'polls:index' %}" role="button">View details &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2>Simple blog page</h2>
            <p>Blog with almost nothing. <br>
                (Short <a href="https://www.youtube.com/watch?v=IZqBTPmxoew">webinar</a>)</p>
            <p><a class="btn btn-primary" href="{% url 'blog:home' %}" role="button">View details &raquo;</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Taskbuster</h2>
            <p>Almost empty bootstrap page. <br>
                (trying to do the <a href="http://www.marinamele.com/taskbuster-django-tutorial">Marina Mele
                    tutorial</a>)</p>
            <p><a class="btn btn-primary" href="{% url 'taskbuster:index' %}" role="button">View details &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2>Newsletter</h2>
            <p>MVP Landing Page. Registration, email submit.<br>
                (<a href="https://www.codingforentrepreneurs.com/projects/try-django-18/">Django lecture series</a>)</p>
            <p><a class="btn btn-primary" href="{% url 'newsletter:home' %}" role="button">View details &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2>Reserved</h2>
            <p>In progress<br>
                (<a href="https://www.codingforentrepreneurs.com/projects/try-django-19/">try Django 1.9</a>)
            </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>

{% endblock %}