#footer, #navbar, #content, #header {
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    height: auto;
    background-color: #DF691A;
    color: #EBEBEB;
}

#header {
    width: auto;
    margin: 0px;
    height: 50px;
    background-color: #DF691A;
}

#body {
    width: auto;
    height: auto;
}

#navbar {
    padding: 20px;
    float: left;
    width: 220px; /* Ширина меню */
    padding: 5px; /* Отступы от рамки до пунктов меню */
    border: 1px solid #000; /* Рамка вокруг меню */
    background-color: #2B3E50;
}

#navbar P {
    margin: 0 0 2px;
}

#navbar A {
    padding: 2px; /* Отступ от рамки вокруг ссылки до текста */
    display: block; /* Ссылка как блочный элемент */
    border: 1px solid #fff; /* Маскируем рамку вокруг ссылки */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: #EBEBEB;
}

#navbar A:hover {
    background: #DF691A; /* Цвет фона под ссылкой */
    color: #EBEBEB; /* Новый цвет ссылки */
    border: 1px dashed #634f36 /* Рамка вокруг ссылки */
}

#content {
    padding: 20px;
    background-color: #2B3E50;
    width: auto;
}

#footer {
    background-color: #DF691A;
    width: auto;
    height: 25px;
    clear: both;
}

